{% load static %}

<div class="popup__add_file none">
    <div class="popup__body">
        <div class="popup__content">
            <div class="popup__close">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8981 15.982L24.9261 23.0164C25.446 23.5367 25.4456 24.38 24.9253 24.8999C24.405 25.4197 23.5617 25.4194 23.0418 24.899L16.0133 17.8641L8.9684 24.8985C8.44791 25.4182 7.60465 25.4176 7.08493 24.8971C6.56522 24.3766 6.56584 23.5333 7.08633 23.0136L14.1306 15.9798L7.0893 8.93205C6.56943 8.41171 6.56981 7.56846 7.09015 7.04859C7.61049 6.52872 8.45374 6.5291 8.97361 7.04944L16.0155 14.0977L23.0421 7.08157C23.5626 6.56185 24.4058 6.56248 24.9255 7.08297C25.4453 7.60346 25.4446 8.44672 24.9241 8.96643L17.8981 15.982Z" fill="white"/>
                </svg> 
            </div>

            <div class="add_file__header">
                <h1>Добавить файл</h1>
            </div>

            <div class="window_add_file">
                <input type="file" name="" id="input_add_file" accept=".doc,.docx,.pdf">
                <label for="input_add_file">
                    <img class="icon_add_file" src="{% static 'vkr/img/icons/icon_add_file.png' %}" alt="">
                    <h5>Перетащите файлы сюда, чтобы добавить.</h5>
                    <p>Или <i>выберите свои файлы</i></p>
                </label>
            </div>

            <div class="files">
                
            </div>

            <div class="choice_groups">
                <p>Группы:</p>

                <div class="select" id="group-select">
                    <div class="select__text">
                        <p class="text_placeholder">Выберите группы</p>
                    </div>
                    <div class="select__separator"></div>
                    <span>></span>

                    <div class="select__hidden_menu none">                       
                        {% for group_name in group_names %}
                            <a href="">{{ group_name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="add_file__button">
                <a href="">Добавить</a>
            </div>
        </div>
    </div>
</div>