{% load static %}

<body>

    {% include 'main/header.html' %}

    <main>
        <table>
            <tr>
                <th>№ <br> п/п</th>
                <th>ФИО</th>
                <th>Тема ВКР</th>
                <th>Руководитель-должность</th>
                <th>Оценка</th>
                <th>
                    в.м.

                    <div class="table_tooltip">
                        <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 0L10.2631 8.25H0.73686L5.5 0Z" fill="black"/>
                        </svg> 
                        <p>в магистратуру</p>
                    </div>
                </th>
                <th>
                    к.о.

                    <div class="table_tooltip">
                        <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 0L10.2631 8.25H0.73686L5.5 0Z" fill="black"/>
                        </svg> 
                        <p>к опубликованию</p>
                    </div>
                </th>
                <th>
                    н.в.и к.

                    <div class="table_tooltip">
                        <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 0L10.2631 8.25H0.73686L5.5 0Z" fill="black"/>
                        </svg> 
                        <p>на выставки и конкурсы</p>
                    </div>
                </th>
                <th>
                    к.в.

                    <div class="table_tooltip">
                        <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 0L10.2631 8.25H0.73686L5.5 0Z" fill="black"/>
                        </svg> 
                        <p>к внедрению/внедренные</p>
                    </div>
                </th>
                <th>
                    к.в. в учю п.

                    <div class="table_tooltip">
                        <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 0L10.2631 8.25H0.73686L5.5 0Z" fill="black"/>
                        </svg> 
                        <p>к внедрению в учебный процесс</p>
                    </div>
                </th>
                <th>
                    по т.п.с.

                    <div class="table_tooltip">
                        <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 0L10.2631 8.25H0.73686L5.5 0Z" fill="black"/>
                        </svg> 
                        <p>по темам, предложенным студентами</p>
                    </div>
                </th>
                <th>
                    по з.п.

                    <div class="table_tooltip">
                        <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 0L10.2631 8.25H0.73686L5.5 0Z" fill="black"/>
                        </svg> 
                        <p>по заявкам предприятий</p>
                    </div>
                </th>
                <th>
                    в об.ф. и п.н.и.

                    <div class="table_tooltip">
                        <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 0L10.2631 8.25H0.73686L5.5 0Z" fill="black"/>
                        </svg> 
                        <p>в области фундаментальных и поисковых научных исследований</p>
                    </div>
                </th>
            </tr>
            <tr>
                <td>1</td>
                <td>Иванов Иван Иванович</td>
                <td>Анализ эффективности использования инновационных технологий в управлении производством</td>
                <td>-</td>
                <td>
                    <input type="text" class="grade">
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Иванов Александр Иванович</td>
                <td>Разработка и анализ алгоритмов машинного обучения для решения конкретной задачи в области информационных технологий</td>
                <td>-</td>
                <td>
                    <input type="text" class="grade">
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Иванов Сергей Иванович</td>
                <td>Разработка и апробация программы корпоративного обучения и развития персонала</td>
                <td>-</td>
                <td>
                    <input type="text" class="grade">
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
                <td>
                    <div class="checkbox" id="checkbox"></div>
                </td>
            </tr>
        </table>

        <div class="patterns">
            <img src="{% static 'vkr/img/patterns/pattern_1.png' %}" alt="">
        </div>
    </main>

    {% include 'main/footer.html' %}

    <script src="{% static 'main/js/header.js' %}"></script>
    <script src="{% static 'main/js/checkbox.js' %}"></script>
</body>