body{
    margin: 0;
}



main{
    padding: 0 66px;
}

main table{
    display: flex;
    width: 100%;
    height: 670px;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    border-collapse: collapse;
    margin-bottom: 70px;
}

main table tr{
    width: 100%;
    height: 44px; 
}


main table tr th{
    width: 367px;
    font-family: "MyriadaPro", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding: 7px 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

table tr th:nth-child(1){
    padding: 7px 15px;
}
 
main table tr th:last-child{
    border-right: none;
}


main table tr td{
    width: 367px;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;  
    text-align: left;
    padding: 0 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

main table tr td:last-child{
    border-right: none;
}

main table tr td:nth-child(1){
    width: 2%;
    text-align: center;
}

main table tr td:nth-child(2){
    width: 23%;
}

main table tr td:nth-child(3){
    width: 15%;
}

main table tr td:nth-child(4){
    width: 20%;
}

main table tr td:nth-child(5){
    width: 40%;
}
